{% extends 'layouts/base.njk' %}

{% block content %}
<section class="hero" style="">
  <img src="/assets/images/header-6.jpg"  />
</section>

<section class="content">
  <h1>Beautiful, handmade polymer clay jewellery</h1>
  <p>Products are available to purchase through Etsy</p>
  <p><a class="button" href="https://www.etsy.com/uk/shop/ClaiiJewellery">Shop Now</a></p>
</section>


{% endblock %}
