{% extends 'layouts/base.njk' %}

{% block content %}
<section class="hero w-screen h-screen" style="background: url(assets/images/sample-bg.jpg) center center; background-size:cover;">
  <h1>Beautiful handmade jewellery</h1>
</section>

<section class="products max-w-6xl m-auto my-16">
  <div class="products-grid">
  {% for product in products %}
    <div class="product">
      <div class="product__image">
        <img src="{{ product.image.url_570xN }}", alt="{{ product.title }}" />
      </div>
      <div class="product__overlay">
        <div class="product__meta">
          <div>
            <div class="product__price my-1">£{{ product.price }}</div>
            <div class="product__action my-1">
              <a href="{{ product.url }}" class="button">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</section>
{% endblock %}
