body {
  font-family: 'd-din';
}

.products {

}

.products-grid {
  display: grid;
  grid-template-columns: repeat( 4, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.product {
  position: relative;
  padding-top: 100%;
}

.product__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    object-fit:cover;
  }
}

.product__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba( 237,158,156, 0.85 );
  color: #fff;
  opacity: 0;

  transition: opacity 0.2s ease-out;
}

.product__meta {
  text-align: center;
  @apply flex flex-col justify-center;
  height: 100%;
}

.product__meta > div {
  flex: 1;
  /*position: relative;*/
  @apply flex flex-col justify-center;

}


.button {
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 0.1em 0.8em;
  transition: all 0.1s ease-out;
}

.button:hover {
  background: #fff;
  color: rgba( 237,158,156, 1);
}

.product:hover .product__overlay {
  opacity: 1;
}
